<% if @event_details_options["timings"] %>
<div>
  <div>
    <p style="background-color: grey; padding: 5px; color: white;">
      <strong>
        Schedule:
      </strong>
      <span>
        <% if @event.start_time.to_date != @event.end_time.to_date %>
    <span>
                  <span>
                    <%= @event.start_time.strftime("%A, %d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= @event.start_time.strftime('%I:%M %p') %></span> -

                  <span><%= @event.end_time.strftime("%A, %d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= @event.end_time.strftime('%I:%M %p') %></span>

                </span>
    <% else %>
    <span>
                  <span><%= @event.start_time.strftime("%A, %d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= @event.start_time.strftime('%I:%M %p') %> To <%= @event.end_time.strftime('%I:%M %p') %></span>
                </span>
    <% end %>
      </span>
    </p>

  </div>
</div>
<% end %>



<% if @event_details_options["event_description"] %>
<div style="padding: 5px;"><%= @event.description.html_safe %></div>
<% end %>


<% if @event_details_options["location"] && !@selected_location.blank? %>
<div style="border-bottom: 1px dotted grey; border-top: 1px dotted grey; padding: 5px 0;">
  <p><strong>Venue Details: </strong></p>

  <div>
    <p style="margin: 3px;">
      <strong>Address: </strong><%= @selected_location.event_location.location.name %>, <%= @selected_location.event_location.location.address %>
    </p>
    <p style="margin: 3px;">
      <a href="<%= @selected_location.event_location.location.map_link %>">Link To Map</a>
    </p>

  </div>

</div>
<% end %>


<% if @event_details_options["sessions_list"] && !@selected_location.blank? %>
<div>
  <p>
    <strong>Here's the list of the amazing Sessions/Tracks!</strong>
  </p>

  <!--<% @event.event_locations.each do |elc| %>-->
    <!--<p style=""><strong>elc.location.name</strong></p>-->
  <!--<% end %>-->
  <% @selected_location.event_location.event_location_tracks.each do |elt| %>
  <p style="margin-bottom: 2px;"><strong><%= elt.name %></strong></p>
  <table style="width: 100%; background-color: #90b0ee3d;">
    <tbody>
      <% elt.track_slots.order('start_time asc').each do |ts| %>
      <tr>
        <td style="width: 50%; border-bottom: 1px dashed white;">
          <small><%= ts.start_time.strftime('%H:%M') %> to <%= ts.end_time.strftime('%H:%M') %></small>
        </td>
        <td style="width: 50%; border-bottom: 1px dashed white;">
          <small><%= ts.session_title %></small>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
</div>
<% end %>