<table style="width: 550px; margin: 0 auto; background-color: white; border-radius: 5px; padding: 25px;">
  <tbody>

  <tr>
    <td>
      <p>Hi <%= @user.name %>!</p>
      <p>Here's your <strong>ENTRY PASS</strong> for attending <strong><%= @event.name %></strong>. Please be on time!</p>
      <div style="text-align: center">
      </div>
      <div>
        <h1 class="text-center;"><%= @event.name %></h1>

        <div style="border: 1px dotted grey; background-color: #3f76e0; color: white; text-align: center; padding-bottom: 10px;">
          <p>Your Unique Code</p>
          <h1>
            <%= @dferg.event_data_form_entity_group.event.event_entry_passes.find_by(user: @dferg.user).unique_code %>
          </h1>
          <small>*This code will be required to gain entry!</small>
        </div>
        <%= render 'mailers/event_communication_mailer/event_details_options' %>


        <hr>
        <% if !@message.blank? %>
        <h3 style="text-align: center;">Your Organizer has included a message</h3>
        <blockquote style="border: 1px dashed lightgrey; border-radius: 5px; padding: 5px;">
          <%= @message.html_safe %>
        </blockquote>
        <% end %>

      </div>

    </td>
  </tr>

  </tbody>

</table>
