<div>
  <%= form_for :event_location_track, url: event_location_tracks_path(id: event), method: 'post', remote: true, html: {id: 'event-location-track-form'} do |f| %>

  <div>
    <div>
      <div class="form-group">
        <%= f.label :event_location %>
        <%= f.select :event_location_id, options_for_select(event.event_locations.collect{|m| [m.location.name, m.id]}), {:include_blank => 'Select a Location'}, class: 'form-control', required: true %>

      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Track", class: 'btn btn-outline-info' %>
      </div>


    </div>

  </div>

  <% end %>
</div>
