<div>
  <ul class="list-group list-group-flush text-dark track-slots-list">
    <% event_location_track.track_slots.order('start_time').each do |ts| %>
    <li class="list-group-item" id="track-slot-<%= ts.id %>">
      <div class="row">
        <p class="col-4">
          <small><%= ts.start_time.strftime('%H:%M') %> to <%= ts.end_time.strftime('%H:%M') %></small>
        </p>
        <h6 class="col-8">
          <span class="media-body pb-3 mb-0 large lh-125 ">
             <%= ts.session_title %>

             <% if allowed_view?(:track_slots, :destroy) %>

             <%= link_to track_slot_path(id: ts), remote: true, method: :delete, class: "close ml-2 text-danger", 'aria-label': 'Remove' do %>

             <span aria-hidden="true">&times;</span>
             <% end %>
            <% end %>
          </span>
          <br>
          <% if ts.speaker_registration %>
          <small>
            <%= ts.speaker_registration.user.name %>

          </small>
          <% end %>
        </h6>
      </div>

    </li>
    <% end %>
    <% if allowed_view?(:event_location_tracks, :create) %>
    <li class="list-group-item">
      <%= render 'track_slots/form', event_location_track: event_location_track, track_slot: TrackSlot.new %>
    </li>
    <% end %>
  </ul>


</div>