
<div>
  <div>
    <h3>Email Controls</h3>
    <%= render 'group_email_controls', edfeg: @edfeg %>
  </div>


  <table>
    <thead>
      <th>Name</th>
      <% @edfeg.data_form_entities.each do |dfe| %>
      <%  dfe.data_form.questions.each do |question| %>
      <th style="width: 100px; overflow: hidden; border-left: 1px solid;">
        <p>
          <%= question.title %>
        </p>
      </th>
      <% end %>
      <% end %>
      <th style="width: 100px; overflow: hidden; border-left: 1px solid;">
        <p>
          Registration Status / Actions
        </p>
      </th>
    </thead>
    <!--TODO Optimize the query to show responses-->
    <tbody>


      <% @edfeg.data_form_entity_response_groups.each do |dferg| %>

      <td>
        <p>
          <%= dferg.user.name %>
        </p>
      </td>
      <% @edfeg.data_form_entities.each do |dfe| %>
      <% dfe.data_form.questions.each do |question| %>
      <% dferg.data_form_entity_responses.each do |dfer| %>



      <td style="width: 100px; overflow: hidden; border-left: 1px solid;">

        <p>
          <%= DataFormEntityResponseValue.get_response_text(question, dfer) %>
        </p>

      </td>


      <% end %>
      <% end %>
      <% end %>
      <td style="width: 100px; overflow: hidden; border-left: 1px solid;">
        <% if(!@edfeg.registration_type.blank?) %>
        <%= render 'data_form_entity_response_groups/registration_status_actions', dferg: dferg, entry_pass: @entry_passes.select{|ep| ep.user == dferg.user && ep.event == @edfeg.event}.first %>
        <% end %>
      </td>
      <td>

      </td>

      <% end %>

    </tbody>

  </table>



</div>