<li class="list-group-item">
  <div>
    <p>
      <%= comment.body %>
    </p>

    <ul id="comment-comments-list-<%= comment.id %>" class="list-group list-group-flush">
      <% comment.comments.each do |cc| %>
      <%= render 'comments/comment', comment: cc %>
      <% end %>
    </ul>
  </div>

  <% if comment.commentable_type == 'Event' %>
  <%= form_for comment.comments.new, url: comment_comments_path(comment_id: comment), html: {class: 'row', id: "comment-comments-form-#{comment.id}"}, remote: true do |f| %>

  <div class="col-10">
    <%= f.text_area :body, class: 'form-control', placeholder: 'Reply...' %>
  </div>
  <div class="col-2">
    <%= button_tag type: 'submit', class: "btn btn-info p-2" do %>
    <i class='fas fa-arrow-alt-circle-right fa-2x text-white'></i>
    <% end %>
  </div>


  <% end %>
  <% end %>


</li>