<div id="confirmed-event-speakers-<%= event.id %>" class="shortlisted-speakers-container">
<h3>The Speakers</h3>
  <ul class="list-group d-flex flex-row flex-wrap justify-content-around p-3 bg-white shortlisted-speakers-list">
    <% event.confirmed_speaker_registrations.each do |evs| %>
      <li class="list-group-item">
        <div class="speaker-display-card">
          <div class="speaker-avatar">
            <%= image_tag url_for(evs.user.avatar), width: 35, class: 'mr-2' %>
          </div>
          <div class="speaker-details">
            <p class="name"><%= evs.user.name %></p>
            <p class="text-muted designation"><%= evs.user.designation %></p>
          </div>

          <div class="speaker-social-links d-flex">

            <% if evs.user.personal_website %>
            <a href="<%= urlstring('google.com') %>">
              <i class="fas fa-info"></i>
            </a>
            <% end %>

          </div>


        </div>
      </li>

    <% end %>

  </ul>

</div>