<div id="event-header-container-<%= event.id %>">
  <div>
    <% if allowed_view?(:events, :edit) %>
    <h5><%= link_to "Edit",  edit_event_path(id: event), class: "badge badge-primary" %></h5>
    <% end %>

  </div>
  <div class="event-header d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded ", id="event-header-background" style='<%= event.header_image.attached? ? "background: url(#{url_for(event.header_image)});" : ''  %>'>
  <!--<img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">-->
    <div class="lh-100">
      <div class="<%= event.header_image.attached? ? 'hidden-item' : '' %>">
        <% if event.kommunity.logo_image.attached? %>
        <p class="text-center mb-0">
          <img alt="<%= event.kommunity.name %> Logo" src="<%= url_for(event.kommunity.logo_image) %>" width="50" class="mr-2">
        </p>


        <% end %>
        <p class="mb-0 text-center">
          <span><%= event.kommunity.name %></span>

        </p>
        <h1 class="mb-0 text-white lh-100"> <%= event.name %></h1>
        <div class="badge badge-light mt-3">
          <%= render 'events/event_time_display', event: event %>
        </div>
        <div class="mt-2 mb-0 text-white d-flex flex-sm-column flex-md-row ">

          <% event.locations.each_with_index do |elc, index| %>
          <p class="m-2 ">
            <i class="fas fa-map-marker-alt mr-1"></i>
            <strong><%= elc.name %></strong>, <span class="text-light"><%= elc.address %></span>
          </p>

          <% end %>
        </div>

      </div>

      <% if allowed_view?(:events, :update_header_image) %>
      <div>
        <%= form_with url: update_header_image_event_path(id: event), id: 'event-header-image-form', method: :put do |f|%>
        <div class="form-group">
          <%= f.label :header_image, 'Choose Header', for: 'event-header-image', class: 'custom-file-label' %>
          <%= f.file_field :header_image, class: 'custom-file-input', onChange: 'showImage(this, "event-header-background", "background");', id: 'event-header-image', onchange: 'Rails.fire(this.form, "submit")', accept: "image/*" %>

        </div>
        <!--<%= f.submit 'Upload', class: 'btn btn-outline-info' %>-->
        <% end %>
      </div>
      <% end %>


    </div>
  </div>

</div>