<div class="card event event-mini-card">
  <%= link_to "", event_path(event.kommunity, event), class: "clickable-card" %>

  <% if controller_name.to_sym != :events %>
  <h5 class="card-header d-flex">
    <div>
      <img class="kommunity-logo-image" alt="Your Profile Image" src="<%= event.kommunity.logo_image.attached? ?  url_for(event.kommunity.logo_image) : '' %>">

    </div>
    <p class="mb-0 ml-3">
      <%= event.kommunity.name %>
    </p>
  </h5>
  <% end %>

  <div class="card-body">

    <h5 class="card-title"><%= event.name %></h5>

    <div class="event-timing">
      <% if event.start_time.to_date != event.end_time.to_date %>
      <span>
                  <span>
                    <%= event.start_time.strftime("%d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= event.start_time.strftime('%I:%M %p') %></span> -

                  <span><%= event.end_time.strftime("%d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= event.end_time.strftime('%I:%M %p') %></span>

                </span>
      <% else %>
      <span>
                  <span><%= event.start_time.strftime("%d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= event.start_time.strftime('%I:%M %p') %> To <%= event.end_time.strftime('%I:%M %p') %></span>
                </span>
      <% end %>

    </div>

    <div class="card-text">
      <div class="description">
        <%= truncate(event.description, :length => 2030, :omission => "" , :escape => false) %>
      </div>




    </div>


  </div>
  <div class="">

    <h6 class="text-info">Details</h6>


  </div>

</div>