<h1>Events#show</h1>


<div>
    <div>
      <h1><%= @event.name %></h1>
      <p><% @event.description %></p>

    </div>


    <div>
      <h4>Assigned Forms</h4>
      <% @event.data_form_entities.each do |dfe| %>
      <div>

        <%= dfe.data_form.name %>

        &nbsp

        <% if dfe.data_form_responses.length == 0 %>
          <%= link_to 'Remove', remove_data_form_entity_event(dfe.id), remote: true, method: :delete %>
        <% end %>
      </div>
      <% end %>


    </div>

    <div>
<!--Assign the forms using JS requests, create a page to fill the assigned form and create a user's entry-->
      <!--add feature to enable/disable the new data_form_entity-->
      <%= form_with url: assign_data_form_event_path, method: 'post', remote: true do |f| %>
        <fieldset>
          <h5>Assign Form</h5>
          <div class="field">
            <%= f.label :data_form %>
            <%= f.select :data_form_id, options_for_select(@event.user.data_forms.all.collect{|m| [m.name, m.id]}) %>
            <%= f.submit "Assign Form" %>
          </div>



        </fieldset>
      <% end %>
    </div>


</div>

