<section id="events-show">

    <div>
      <div>
        <div>
          <% if allowed_view?(:events, :edit) %>
          <h5><%= link_to "Edit",  edit_event_path(id: @event), class: "badge badge-primary" %></h5>
          <% end %>

        </div>
        <h1>
          <%= @event.name %>
        </h1>

      </div>
      <div>
        <p class="badge badge-info badge-pill">Seats: <%= @event.seats %></p>

      </div>

      <hr>
      <p><%= @event.description.html_safe %></p>
      <hr>

      <div>
        <div class="event-timing">
          <% if @event.start_time.to_date != @event.end_time.to_date %>
          <span>
            <span><%= @event.start_time.strftime("%d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= @event.start_time.strftime('%I:%M %p') %></span> -

            <span><%= @event.end_time.strftime("%d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= @event.end_time.strftime('%I:%M %p') %></span>

          </span>
          <% else %>
          <span>
            <span><%= @event.start_time.strftime("%d-%b-%Y") %></span> <span class="badge badge-secondary badge-pill"> <%= @event.start_time.strftime('%I:%M %p') %> To <%= @event.end_time.strftime('%I:%M %p') %></span>
          </span>
          <% end %>

        </div>

      </div>
      <hr>

      <div class="mt-3">
        <% if allowed_view?(:events, :update_event_status) %>
        <%= render 'event_status_select', event: @event, event_statuses: @event_statuses %>
        <% end %>
      </div>


    </div>


    <div>
      <h4>Assigned Forms</h4>

      <ul id="form-set-list">
        <%= render partial: 'event_data_form_entity_groups/form_set', collection: @event.event_data_form_entity_groups, as: :edfeg, locals: {event: @event} %>

      </ul>



    </div>


    <div>
      <%= form_with url: create_form_set_event_path(id: @event), scope: :event_data_form_entity_group, method: 'post', remote: true do |f| %>
      <h5>Create Form Set</h5>
      <fieldset>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :registration_type %>
          <%= f.select :registration_type_id, options_for_select(RegistrationType.all.collect{|m| [m.name, m.id]}) %>

        </div>
        <%= f.submit "Create Form Set" %>

      </fieldset>

      <% end %>
    </div>




</section>

