<section id="events-show">

    <div>
      <div>
        <div>
          <% if allowed_view?(:events, :edit) %>
          <h5><%= link_to "Edit",  edit_event_path(id: @event), class: "badge badge-primary" %></h5>
          <% end %>

        </div>
        <h1>
          <%= @event.name %>
        </h1>

      </div>



      <hr>
      <div class="d-flex">
        <%= render 'events/event_time_display', event: @event %>


      </div>
      <!--<p class="badge badge-info badge">Seats: <%= @event.seats %></p>-->
      <hr class="">

      <div class="mt-3 mb-3">
        <% if allowed_view?(:events, :update_event_status) %>
        <%= render 'event_status_select', event: @event, event_statuses: @event_statuses %>
        <% end %>
      </div>

      <div><%= @event.description.html_safe %></div>
      <hr>

    </div>


  <% if allowed_view?(:data_form_entities, :form_responses) %>
  <div class="d-flex row .flex-wrap ">
    <div class=" p-3 m-2 col-md-3">
      <%= form_with url: create_form_set_event_path(id: @event), scope: :event_data_form_entity_group, method: 'post', remote: true do |f| %>
      <h5>Create Form Set</h5>
      <small>Something like registration form, feedback form, etc..</small>
      <div class="form-group">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :registration_type %>
          <%= f.select :registration_type_id, options_for_select(RegistrationType.all.collect{|m| [m.name, m.id]}), {}, class: 'form-control' %>

        </div>
        <%= f.submit "Create Form Set", class: 'btn' %>

      </div>

      <% end %>
    </div>
    <div class=" p-2 mt-3">


      <ul class="list-group" id="form-set-list">
        <%= render partial: 'event_data_form_entity_groups/form_set', collection: @event.event_data_form_entity_groups, as: :edfeg, locals: {event: @event} %>

      </ul>



    </div>

  </div>

  <% end %>


  <div class="mt-3 mb-3 d-flex">
    <% if allowed_view?(:locations, :create) %>
    <div class="card col-md-4">
      <div class="card-header">Add Location</div>
      <div class="card-body">
        <%= form_for @location, url: event_locations_path(event_id: @event), remote: true do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :map_link %>
          <%= f.text_field :map_link, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Add Location', class: 'btn btn-outline-info' %>
        </div>
        <% end %>
      </div>

    </div>
    <% end %>

    <div class="col-md-6" id="event-locations">
      <% if @event.locations  %>
      <% @event.locations.each do |location| %>
      <%= render 'locations/event_location', location: location, event: @event %>
      <% end %>
      <% end %>
    </div>

  </div>


  <%= render 'events/locations_tracks_slots', event: @event, track_slot: TrackSlot.new, event_location_track: EventLocationTrack.new %>




</section>

