<h1>Events#show</h1>


<div>
    <div>
      <h1><%= @event.name %></h1>
      <p><% @event.description %></p>

      <%= render 'event_status_select', event: @event %>

    </div>


    <div>
      <h4>Assigned Forms</h4>

      <ul id="form-set-list">
        <%= render partial: 'event_data_form_entity_groups/form_set', collection: @event.event_data_form_entity_groups, as: :edfeg, locals: {event: @event} %>

      </ul>



    </div>


    <div>
      <%= form_with url: create_form_set_event_path(id: @event), scope: :event_data_form_entity_group, method: 'post', remote: true do |f| %>
      <h5>Create Form Set</h5>
      <fieldset>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :registration_type %>
          <%= f.select :registration_type_id, options_for_select(RegistrationType.all.collect{|m| [m.name, m.id]}) %>

        </div>
        <%= f.submit "Create Form Set" %>

      </fieldset>

      <% end %>
    </div>




</div>

