<% content_for :page_title do %>
  <%= @kommunity.name %> | <%= @event.name %>
<% end %>

<section id="events-show">

    <div>
      <div>
        <div>
          <% if allowed_view?(:events, :edit) %>
          <h5><%= link_to "Edit",  edit_event_path(id: @event), class: "badge badge-primary" %></h5>
          <% end %>

        </div>
        <div class="event-header d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
          <!--<img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">-->
          <div class="lh-100">
            <span><%= @event.kommunity.name %></span>
            <h2 class="mb-0 text-white lh-100"> <%= @event.name %></h2>
            <div class="badge badge-light mt-3">
              <%= render 'events/event_time_display', event: @event %>
            </div>

          </div>
        </div>

      </div>

      <!--<p class="badge badge-info badge">Seats: <%= @event.seats %></p>-->

      <div class="mt-3 mb-3">
        <% if allowed_view?(:events, :update_event_status) %>
        <%= render 'event_status_select', event: @event, event_statuses: @event_statuses %>
        <% end %>
      </div>
      <div class="">
        <% @event.open_forms.each do |dfe| %>


        <%= link_to fill_form_response_path(kommunity: @event.kommunity, data_form_entity_id: dfe), target: '_blank', class: "badge badge-info p-2" do %>

        <i class="fas fa-arrow-alt-circle-right"></i> <%= dfe.entity.name.titlecase %>
        <% end %>

        <% end %>
      </div>


    </div>




  <% if allowed_view?(:data_form_entities, :form_responses) %>
  <div class="d-flex row .flex-wrap ">
    <div class=" p-3 m-2 col-md-3">
      <%= form_with url: create_form_set_event_path(id: @event), scope: :event_data_form_entity_group, method: 'post', remote: true do |f| %>
      <h5>Create Form Set</h5>
      <small>Something like registration form, feedback form, etc..</small>
      <div class="form-group">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :registration_type %>
          <%= f.select :registration_type_id, options_for_select(RegistrationType.all.collect{|m| [m.name, m.id]}), {}, class: 'form-control' %>

        </div>
        <%= f.submit "Create Form Set", class: 'btn' %>

      </div>

      <% end %>
    </div>
    <div class=" p-2 mt-3">


      <ul class="list-group" id="form-set-list">
        <%= render partial: 'event_data_form_entity_groups/form_set', collection: @event.event_data_form_entity_groups, as: :edfeg, locals: {event: @event} %>

      </ul>



    </div>


  </div>

  <% end %>

  <div class="mt-3 p-3 bg-white ">
    <%= @event.description.html_safe %>
  </div>


  <%= render 'events/locations_tracks_slots', event: @event, track_slot: @track_slot, event_location_track: @event_location_track %>


  <div class="mt-3 mb-3 d-flex">
    <% if allowed_view?(:locations, :create) %>
    <div class="card col-md-4">
      <div class="card-header">Add Location</div>
      <div class="card-body">
        <%= form_for @location, url: event_locations_path(event_id: @event), remote: true do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :map_link %>
          <%= f.text_field :map_link, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Add Location', class: 'btn btn-outline-info' %>
        </div>
        <% end %>
      </div>

    </div>
    <% end %>

    <% if @event.locations.length == 1  %>
    <div class="col-md-12" id="event-locations">

      <%= render 'locations/event_location', location: @event.locations[0], event: @event %>
    </div>
    <% end %>

  </div>


  <div class="mt-3 p-3 bg-white">

    <%= render 'events/event_comments', event: @event, new_comment: @new_comment %>

  </div>




</section>

