<div>
  <%= form_for @data_form do |f| %>

  <% if @data_form.errors.any? %>
  <%= @data_form.errors.full_messages %>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :kommunity, "Community" %>
    <%= f.select :kommunity_id, options_for_select(current_user.kommunities.collect{|m| [m.name, m.id]}, f.object.kommunity_id), {}, class: 'form-control' %>
  </div>


  <div class="form-group card p-3">
    <p>Questions</p>

    <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", f: builder %>

    <% end %>
  </div>
  <p class="mt-2">
    <%= link_to_add_fields "Add Question", f, :questions %>
  </p>



  <div>
    <%= f.submit "Submit", class: 'btn btn-info' %>
  </div>

  <% end %>

</div>
