
<fieldset>
  <div class="row">
    <div class="form-group col-6">
      <strong><%= f.label :question %></strong>
      <%= f.text_field :title, class: 'form-control' %>

    </div>
    <div class="form-group col-2">
      <%= f.label :question_type %>
      <%= f.select :question_type_id, options_for_select(QuestionType.all.collect{|m| [m.name, m.id]}, f.object.question_type_id), {}, class: 'form-control' %>
    </div>
    <div class="form-group col-1">
      <%= f.label :required %>
      <%= f.check_box :required, class: 'form-control' %>

    </div>

  </div>
  <div class="row">
    <div class="form-group col-10">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control", :rows => 1, :cols => 40 %>
    </div>
  </div>


  <div class="d-flex flex-row flex-wrap">

    <%= f.fields_for :question_choices do |choice_builder| %>
    <%= render "question_choice_fields", f: choice_builder %>

    <% end %>
  </div>


  <%= link_to_add_fields "Add Choice", f, :question_choices %>

  <div class="field">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove Question", '#', class: "remove_fields" %>

  </div>
  <hr>
  <hr>
  <hr>
</fieldset>



