<section id="fill-form">
  <div class="row">
    <div class="d-flex flex-column justify-content-center">
      <div class="p-2">
        <div class="event">

          <h5 class="card-header"><%= @event.kommunity.name %></h5>

          <div class="card-body">
            <h5 class="card-title"><%= @event.name %></h5>

            <%= render 'events/event_time_display', event: @event %>

            <div class="card-text mt-3">
              <div class="description">
                <%= @event.description.html_safe %>
              </div>


            </div>


          </div>

        </div>
        <div class="col">
          <% if !@existing_response.blank? %>
          <div class="alert alert-info" role="alert">
            You have already filled the form, please feel free to update your response!
          </div>
          <% end %>
          <div id="fillable-form" class="card card col-md-8 offset-md-2">
            <h5 class="text-center pt-2">
              <%= @data_form_entity.entity.name %>
            </h5>
            <div class="card-body">
              <%= form_with scope: :data_form_entity_response, url: submit_form_response_path(data_form_entity_id: @data_form_entity, for_other_user: @for_other_user, ots: @ots) do |f| %>

              <% if user_signed_in? &&  current_user.role?(:organizer, @kommunity.id) && @for_other_user %>
              <h3>Add user information</h3>
              <div class="form-group">
                <%= f.label :user_email %>
                <%= f.text_field :user_email, placeholder: "Other User Email", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :user_name %>
                <%= f.text_field :user_name, placeholder: "Name", required: true %>
              </div>
              <% end %>

              <ul class="list-group">
                <% @data_form_entity.data_form.questions.each.with_index(1) do |question, index| %>

                <li class="list-group-item">

                  <div class="form-group">
                    <h5><%= question.title %></h5>


                    <% case question.question_type.name %>
                    <% when "short_answer" %>
                    <div>
                      <%= f.text_field question.id, placeholder: "Short Answer", required: question.required, value: @existing_response[question.id], class: "form-control" %>

                    </div>
                    <% when "long_answer" %>
                    <div>
                      <%= f.text_area question.id, placeholder: "Long Answer", required: question.required, value: @existing_response[question.id], class: "form-control" %>
                    </div>

                    <% when "number" %>
                    <div>
                      <%= f.number_field question.id, placeholder: "Number", required: question.required, value: @existing_response[question.id], class: "form-control" %>
                    </div>

                    <% when "single_choice" %>
                    <div>
                      <% question.question_choices.each do |choice| %>

                      <div class="d-flex flex-row justify-content-start">
                        <%= f.radio_button question.id, choice.id, id: "radio-#{choice.id}", required: question.required, checked: (@existing_response[question.id] == choice.id), class: 'mt-2'  %>
                        <%=  f.label choice.id, choice.title, for: "radio-#{choice.id}", class: 'pl-2 mt-1' %>

                      </div>
                      <% end %>
                    </div>

                    <% when "multiple_choice" %>

                    <div class="d-flex flex-column">
                      <%= f.collection_check_boxes question.id, question.question_choices.all, :id, :title, required: question.required, checked: (@existing_response[question.id].blank? ? false : @existing_response[question.id].map(&:to_param)), class: "form-control"  %>

                    </div>


                    <% end %>
                  </div>

                </li>
                <hr>
                <% end %>

              </ul>
              <%= f.submit 'Submit', class: 'btn btn-outline-info' %>
              <% end %>


            </div>


          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="modal fade" id="submission-success-modal" tabindex="-1" role="dialog" aria-labelledby="submission-success-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="mt-3 text-center">
          <h5 id="submission-success-modal-title">Thank You!</h5>

        </div>
        <div class="modal-body ">
          <p class="text-center">
            <i class="fas fa-check-circle fa-5x text-success"></i>
          </p>
          <p class="text-center">We've received your submission for <strong><%= @event.name %></strong>. We'll communicate further updates on your email!</p>
        </div>
      </div>
    </div>
  </div>


  <% if !user_signed_in? %>
  <script>
    window.onload = function() {

        $('#force-sign-in-modal').modal({
            backdrop: 'static',
            keyboard: false
        }).modal('show');

    }

  </script>
  <% end %>



</section>
