<div id="fillable-form">

    <%= form_with scope: :data_form_entity_response, url: submit_form_response_path do |f| %>
      <% @data_form_entity.data_form.questions.each.with_index(1) do |question, index| %>

        <div>
            <div><%= index %></div>
            <div>

              <div><%= question.title %></div>


              <% case question.question_type.name %>
              <% when "short_answer" %>
              <div>
                <%= f.text_field question.id, placeholder: "Short Answer", required: question.required, value: @existing_response[question.id] %>

              </div>
              <% when "long_answer" %>
              <div>
                <%= f.text_area question.id, placeholder: "Long Answer", required: question.required, value: @existing_response[question.id]  %>
              </div>

              <% when "number" %>
              <div>
                <%= f.number_field question.id, placeholder: "Number", required: question.required, value: @existing_response[question.id]  %>
              </div>

              <% when "single_choice" %>
              <div>
               <% question.question_choices.each do |choice| %>

                  <div>
                    <%= f.radio_button question.id, choice.id, id: choice.id, required: question.required, checked: (@existing_response[question.id] == choice.id)  %>
                    <%=  f.label choice.id, choice.title %>

                  </div>
                <% end %>
              </div>

              <% when "multiple_choice" %>
              <div>
                <div>
                  <%= f.collection_check_boxes question.id, question.question_choices.all, :id, :title, (@existing_responses[question.id].blank? ? false : @existing_responses[question.id].map(&:to_param)), required: question.required,   %>

                </div>
              </div>

              <% end %>
            </div>

        </div>

      <% end %>
        <%= f.submit 'Submit' %>
    <% end %>

</div>