<% content_for :page_title do %>
<%= @event.kommunity.name %> | <%= @event.name %> | Form
<% end %>

<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag    'readmore', media: 'all' %>

<% end %>

<section id="fill-form">

  <% if @data_form_entity.can_fill_event_form(current_user) %>
  <div class="row">
    <div class="d-flex flex-column justify-content-center col-12">
      <div class=" d-flex flex-column position-relative">
        <div class="event   event-preview-header">


          <div class="card-body p-0 bg-white pt-2">
            <h5 class="text-center text-info">
              <%= @data_form_entity.entity.name %>
            </h5>

            <%= render 'events/event_show_header', event: @event %>

          </div>

        </div>
        <div class="">
          <% if @data_form_entity.entity.registration_type?([NameValues::RegistrationsType::FEEDBACK]) %>

          <div class="card-text mt-3 text-center">
            <h5>It was great having you over at the event!</h5>
            <p>It'd be great to know how was your day!</p>
          </div>

          <% end %>
          <% if !@existing_response.blank? %>
          <div class="alert alert-info text-center" role="alert">
            You have already filled the form, please feel free to update your response!
          </div>
          <% end %>
          <div id="fillable-form" class="card col-md-10 offset-md-1">

            <div class="card-body">
              <%= form_with scope: :data_form_entity_response, url: submit_form_response_path(data_form_entity_id: @data_form_entity, for_other_user: @for_other_user, ots: @ots) do |f| %>

              <% if user_signed_in? &&  current_user.role?(:organizer, @kommunity.id) && @for_other_user %>
              <h3>Add user information</h3>
              <div class="form-group">
                <%= f.label :user_email %>
                <%= f.text_field :user_email, placeholder: "Other User Email", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :user_name %>
                <%= f.text_field :user_name, placeholder: "Name", required: true %>
              </div>
              <% end %>

              <% if user_signed_in? && !@for_other_user %>
              <h5> A Little About You! </h5>
              <div class="form-group profile-image-input text-center">
                <div class="existing-profile-image">
                  <img id="user-profile-image" alt="Your Profile Image" src="<%= url_for(current_user.avatar) %>">
                </div>

                <%= f.label :profile_image, 'Your Profile Image', for: 'profile-image', class: 'custom-file-label' %>
                <%= f.file_field :profile_image, class: 'custom-file-input', id: 'profile-image', onchange: 'showImage(this, "user-profile-image");', accept: "image/*" %>

              </div>
              <div class="form-group">
                <%= f.label :designation, "How does the world know you! (If you're a professional or run a community or ...)" %>
                <%= f.text_field :designation, placeholder: "CEO, My Life", value: current_user.designation, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :about_me, "A little about you in your own words!" %>
                <%= f.text_area :about_me, placeholder: "I am a...", value: current_user.about_me, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :linkedin_profile, 'Linkedin Profile (Please give the complete link)' %>
                <%= f.text_field :linkedin_profile, pattern: '^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$', title: 'Please enter the complete link', placeholder: "Linkedin Profile", value: current_user.linkedin, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :personal_website, 'Do you have a Website About You? (Optional)' %>
                <%= f.text_field :personal_website, placeholder: "Link to Your Personal Website", value: current_user.personal_website, class: 'form-control'%>
              </div>

              <div class="form-group">
                <%= f.label :twitter_profile, 'Are you on Twitter? Your, @handle please!' %>
                <%= f.text_field :twitter_profile, pattern: '^@[A-Za-z0-9_]{1,15}$', title: 'Please match the format @handlename', placeholder: "@myhandle", value: current_user.twitter, class: 'form-control'%>
              </div>

              <div class="form-group">
                <%= f.label :github_profile, 'Github Profile (Please share the complete link)' %>
                <%= f.text_field :github_profile, pattern: '^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$', title: 'Please enter the complete link', placeholder: "Github Profile Link", value: current_user.github, class: 'form-control'%>
              </div>

              <% end %>

              <br>
              <h5>Some More Questions...</h5>
              <ul class="list-group">
                <% @data_form_entity.data_form.questions.each.with_index(1) do |question, index| %>

                <li class="list-group-item">

                  <div class="form-group">
                    <h5><%= question.title %><%if question.required%><strong class="text-info">*</strong><% end %></h5>


                    <% case question.question_type.name %>
                    <% when "short_answer" %>
                    <div>
                      <%= f.text_field question.id, placeholder: "Short Answer", required: question.required, value: @existing_response[question.id], class: "form-control" %>

                    </div>
                    <% when "long_answer" %>
                    <div>
                      <%= f.text_area question.id, placeholder: "Long Answer", required: question.required, value: @existing_response[question.id], class: "form-control" %>
                    </div>

                    <% when "number" %>
                    <div>
                      <%= f.number_field question.id, placeholder: "Number", required: question.required, value: @existing_response[question.id], class: "form-control" %>
                    </div>

                    <% when "single_choice" %>
                    <div>
                      <% question.question_choices.order('created_at asc').each do |choice| %>

                      <div class="d-flex flex-row justify-content-start">
                        <%= f.radio_button question.id, choice.id, id: "radio-#{choice.id}", required: question.required, checked: (@existing_response[question.id] == choice.id), class: 'mt-2'  %>
                        <%=  f.label choice.id, choice.title, for: "radio-#{choice.id}", class: 'pl-2 mt-1' %>

                      </div>
                      <% end %>
                    </div>

                    <% when "multiple_choice" %>

                    <div class="d-flex flex-column">
                      <%= f.collection_check_boxes question.id, question.question_choices.all, :id, :title, required: question.required, checked: (@existing_response[question.id].blank? ? false : @existing_response[question.id].map(&:to_param)), class: "form-control"  %>

                    </div>


                    <% end %>
                  </div>

                </li>
                <hr>
                <% end %>

              </ul>
              <%= f.submit 'Submit', class: 'btn btn-outline-info' %>
              <% end %>


            </div>


          </div>

        </div>

      </div>

    </div>
  </div>


  <% else %>

  <div>
    <h2 class=" text-center">
      <% if @data_form_entity.members_who_have_attended? %>
      Shh... This is hidden!
      <%else%>
      This form's closed, unless the organizers say!
      <%end%>
    </h2>

  </div>

  <% end %>

  <div class="modal fade" id="submission-success-modal" tabindex="-1" role="dialog" aria-labelledby="submission-success-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="mt-3 text-center">
          <h5 id="submission-success-modal-title">Thank You!</h5>

        </div>
        <div class="modal-body ">
          <p class="text-center">
            <i class="fas fa-check-circle fa-5x text-success"></i>
          </p>
          <% if @data_form_entity.entity.registration_type?([NameValues::RegistrationsType::SPEAKER, NameValues::RegistrationsType::ATTENDEE]) %>
          <p class="text-center">We've received your submission for <strong><%= @event.name %></strong>. We'll communicate further updates on your email!</p>
          <% elsif @data_form_entity.entity.registration_type?([NameValues::RegistrationsType::FEEDBACK]) %>
            <p class="text-center">Thanks for sharing the feedback! <br> Stay tuned to our website for the next event. Stay tuned!</p>
          <% else %>
            <p class="text-center">Thank You!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>





  <% content_for :page_scripts do %>
    <% if !user_signed_in? %>
    <script>
        window.onload = function() {

            $('#force-sign-in-modal').modal({
                backdrop: 'static',
                keyboard: false
            }).modal('show');

        }

    </script>
    <% end %>


    <%= javascript_include_tag 'readmore' %>


  <% end %>



</section>
