<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kommunity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <header id="body-header" class="row">
        <% if current_user %>
        <p><%= current_user.email %></p>
        <% end %>

      </header>
      <main class="">
        <%= yield %>


      </main>
      <footer></footer>

    </div>
  </body>
</html>
